/*second_screen*/

#second_screen {
  background: url(../img/suning/floor-bg-new.gif) 50% 50% no-repeat;
}
#active_enter {
  width: 990px;
  height: 152px;
  margin: 20px auto;
  overflow: hidden;
  position: relative;
}
#active_enter ul {
  position: absolute;
  width: 3000px;
  top: 0;
  left: 0;
}
#active_enter li {
  float: left;
  padding-right: 10px;
}
#active_enter img {
  width: 240px;
  height: 152px;
}
#active_enter .arrow {
  top: 40px;
  left: 0;
  width: 990px;
}
#active_enter:hover .arrow {
  display: block;
}
#home_page {
  width: 990px;
  height: 430px;
  margin: 20px auto 0 auto;
}
#home_page .title {
  height: 40px;
  width: 990px;
}
#home_page h3 {
  font: bold 20px/40px 'microsoft Yahei';
}
#home_page .feature-enter {
  width: 382px;
  height: 378px;
  margin-top: 10px;
  background-image: url(../img/suning/like.png);
  float: left;
}
#home_page .feature-enter a {
  display: block;
  width: 382px;
  height: 188px;
}
#home_page .content {
  width: 361px;
  height: 169px;
  margin: 10px 0 0 10px;
  position: relative;
  float: left;
}
#home_page .enter-title {
  width: 341px;
  height: 30px;
  margin: 5px 0 0 20px;
  font: bold 20px/30px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
  color: #fff;
}
#home_page .s-title {
  position: relative;
  width: 90px;
  height: 24px;
  margin: 4px 0 0 20px;
  color: #ed1a46;
  text-align: center;
  font: 14px/24px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
  background-color: #fff;
}
#home_page .s-title span {
  position: absolute;
  top: 0;
  width: 11px;
  height: 24px;
  background-image: url(../img/suning/icons.png);
}
#home_page .s-title .left {
  left: -11px;
  background-position: -206px 0;
}
#home_page .s-title .right {
  right: -11px;
  background-position: -206px -33px;
}
#home_page .enter-desc {
  width: 120px;
  height: 60px;
  overflow: hidden;
  margin: 3px 0 0 20px;
  font: 14px/20px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
  color: #ffb6b6;
}
#home_page .content img {
  position: absolute;
  right: 40px;
  top: 10px;
  width: 150px;
  height: 150px;
  transition: right 0.5s ease;
}
#home_page .content img:hover {
  right: 50px;
  transition: right 0.5s ease;
}
#feature-list {
  float: left;
  width: 599px;
  height: 380px;
  padding: 9px 0 0 9px;
  overflow: hidden;
}
#feature-list li {
  position: relative;
  float: left;
  width: 198px;
  height: 188px;
  margin: 1px 0 0 1px;
  background-color: #fff;
}
#feature-list li:hover {
  box-shadow: 0 2px 10px #999;
  z-index: 1;
}
#feature-list a:hover {
  border: 2px solid #fa4b4b;
  top: -2px;
  left: -2px;
  z-index: 1;
}
#feature-list a {
  position: relative;
  float: left;
  width: 198px;
  height: 188px;
  border: 1px solid #eee;
}
#feature-list a .name {
  margin: 15px 0 0 16px;
  font: bold 20px/30px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
}
#feature-list a .desc {
  position: relative;
  margin-left: 16px;
  font: 14px/18px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
  color: #999;
  z-index: 1;
}
#feature-list a img {
  position: absolute;
  width: 128px;
  height: 128px;
  right: 0;
  bottom: 0;
  transition: right 0.5s ease;
}
#feature-list li:hover img {
  right: 10px;
  transition: right 0.5s ease;
}
#second_module {
  width: 1006px;
  height: 419px;
  margin: 40px auto 20px auto;
}
#second_module section {
  float: left;
  background-color: #fff;
  overflow: hidden;
}
#second_module .title {
  color: #fff;
  height: 52px;
  position: relative;
}
#second_module .title h3 {
  font: bold 20px/52px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
  float: left;
  width: 80px;
  margin-left: 20px;
  height: 52px;
}
#second_module .title a {
  float: left;
  margin: 16px 0 0 200px;
  width: 76px;
  height: 21px;
  color: #fff;
  font: 14px/20px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
}
#second_module .title span {
  vertical-align: middle;
  display: inline-block;
}
#second_module .title em {
  background-image: url(../img/suning/icons.png);
  background-position: -150px -159px;
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  line-height: 20px;
}
#second_module .content_list {
  overflow: hidden;
}
#second_module .content_list li {
  float: left;
  position: relative;
  width: 183px;
  height: 114px;
  border-right: 1px solid #f6f7f8;
  border-bottom: 1px solid #f6f7f8;
}
#second_module .content_list p {
  font: 15px/20px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
  position: absolute;
  top: 7px;
  left: 10px;
  color: #333;
  width: 75px;
}
#second_module .content_list p:hover {
  color: #f60;
}
#second_module .content_list img {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 15px;
  bottom: 10px;
}

/*大牌盛宴*/

#dpsy {
  width: 204px;
  height: 417px;
}
#dpsy .title {
  background-color: #419dae;
}
#dpsy>a {
  display: block;
  width: 184px;
  height: 114px;
  margin: 10px;
  overflow: hidden;
}
#dpsy .content_list {
  width: 184px;
  margin: 0 10px;
  height: 220px;
}

/*精选好货*/

#jxhh {
  width: 387px;
  margin-left: 12px;
  height: 417px;
}
#jxhh .title {
  background-color: #867bc5;
}
#jxhh .content_list {
  height: 355px;
  width: 368px;
  margin: 10px 11px 11px 10px;
}

/*必抢清单*/

#bqqd {
  width: 388px;
  margin-left: 12px;
  height: 417px;
}
#bqqd .title {
  background-color: #a25683;
}

/*为您推荐*/

#wntj {
  height: 333px;
  width: 990px;
  margin: 0 auto;
  overflow: hidden;
}
#wntj .title {
  height: 52px;
}
#wntj .title h3 {
  font: bold 20px/52px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
  float: left;
  height: 52px;
}
#wntj .title a {
  float: right;
  font-size: 16px;
  line-height: 64px;
  color: #333;
}
#wntj .title a:hover {
  color: #f60;
}
#wntj .recommand_list {
  overflow: hidden;
  height: 281px;
  width: 2000px;
}
#wntj .item {
  float: left;
  width: 197px;
  height: 281px;
  border-right: 1px solid #f6f7f8;
  background-color: #fff;
}
#wntj .item>a {
  display: block;
  height: 193px;
  width: 197px;
}
#wntj .item>a img {
  width: 160px;
  height: 160px;
  margin: 19px 0 0 19px;
}
#wntj .item p {
  width: 157px;
  margin: 0 22px 0 18px;
  height: 36px;
  overflow: hidden;
}
#wntj .item p a {
  display: block;
  line-height: 18px;
  color: #333;
}
#wntj .item p a:hover {
  color: #f60;
}
#wntj .item span {
  display: block;
  height: 52px;
  margin-left: 18px;
  color: #e12228;
  font: 20px/52px "arial";
}

/*第三屏：third_screen*/

#third_screen {
  width: 990px;
  margin: 0 auto;
}
#third_screen .floor {
  width: 990px;
  height: 624px;
  margin-top: 30px;
  background: #f6f7f8 url(../img/suning/floor-bg-new.gif) 50% 50% no-repeat;
}
#third_screen .floor_head {
  width: 990px;
}
.floor_head .title {
  float: left;
  width: 190px;
  height: 34px;
}
.floor_head .title h3 {
  height: 34px;
  font: bold 20px/34px 'Microsoft Yahei';
}
.floor_head .floor_tab {
  width: 380px;
  height: 34px;
  float: right;
}
.floor_tab li {
  float: left;
  margin: 6px 0 0 20px;
  width: 56px;
  height: 34px;
  position: relative;
}
.floor_tab .on a {
  color: #783e18;
  font-weight: 700;
}
.floor_tab .on span {
  display: block;
}
.floor_tab a {
  font: 14px/34px "Microsoft Yahei";
  color: #666;
}
.floor_tab span {
  display: none;
  position: absolute;
  top: 25px;
  left: 15px;
  width: 0;
  height: 0;
  border-width: 0 11px 9px 11px;
  border-color: transparent;
  border-bottom-color: #783e18;
  border-style: solid;
}
.floor_main {
  width: 990px;
  height: 590px;
}
.floor_ad {
  width: 389px;
  height: 590px;
  position: relative;
  float: left;
  overflow: hidden;
}
.ad {
  display: block;
  width: 363px;
  height: 303px;
  padding: 16px 0 0 20px;
  position: relative;
}
.ad p {
  overflow: hidden;
  z-index: 100;
  position: relative;
}
.ad p:first-of-type {
  height: 40px;
  font: 20px/40px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
}
.ad p:last-of-type {
  height: 16px;
  font: 16px/16px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
}
.ad img {
  width: 250px;
  height: 250px;
  position: absolute;
  bottom: 0;
  right: 10px;
}
.ad span {
  position: absolute;
  width: 0;
  height: 0;
  right: -6px;
  top: 0;
  border-width: 3px;
  border-style: solid;
}
.entrances {
  margin-top: -47px;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 10;
  position: relative;
}
.entrances li {
  width: 127px;
  height: 33px;
  padding: 7px 0;
  float: left;
}
.entrances a {
  display: block;
  width: 85px;
  height: 33px;
  margin: 0 21px;
  color: #d18592;
  line-height: 33px;
}
.entrances i {
  float: left;
  width: 20px;
  height: 21px;
  margin: 5px 10px 0 0;
  background: url(../img/suning/icons.png) -100px -193px;
}
.hot_word {
  width: 384px;
  height: 125px;
  background-color: #fff;
}
.hot_word div {
  float: left;
  width: 128px;
  height: 100px;
  margin: 12px 18px;
}
.hot_word div a {
  float: left;
  width: 64px;
  height: 25px;
  color: #666;
  line-height: 25px;
}
.hot_word div:last-of-type {
  margin-left: 72px;
}
.last_img {
  height: 145px;
  width: 383px;
  background-color: #fff;
  border-top: 1px solid #f6f7f8;
  position: relative;
}
.last_img a {
  display: block;
  width: 383px;
  height: 145px;
}
.last_img p {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.last_img p:first-of-type {
  width: 180px;
  height: 28px;
  font: 18px/28px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
  color: #222;
  margin: 15px 0 0 16px;
}
.last_img p:last-of-type {
  width: 280px;
  height: 16px;
  margin-left: 16px;
  font: 14px/16px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
  color: #f15453;
}
.last_img img {
  width: 145px;
  height: 145px;
  position: absolute;
  top: 0;
  right: 10px;
}

/*右栏*/

.main-cont {
  width: 605px;
  height: 582px;
  border: 1px solid #f6f7f8;
  float: left;
  margin: 6px 0 0 -6px;
  overflow: hidden;
  background-color: #fff;
  position: relative;
}
.slider {
  width: 405px;
  height: 291px;
  border-bottom: 1px solid #f6f7f8;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.slider01 {
  width: 405px;
  height: 291px;
  position: relative;
}
.slider01 li {
  width: 405px;
  height: 291px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  border-bottom: 1px solid #f6f7f8;
  overflow: hidden;
  z-index: 2;
}
.slider01 li a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
p.title {
  width: 180px;
  height: 28px;
  margin: 15px 0 0 16px;
  font: 18px/28px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
  position: relative;
  z-index: 1;
  overflow: hidden;
}
p.desc {
  widows: 280px;
  height: 16px;
  margin-left: 16px;
  font: 14px/16px "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
}
.slider01 li img {
  position: absolute;
  bottom: 0;
  right: 10px;
  width: 230px;
  height: 230px;
}
.slider:hover .angle-btn {
  display: block;
}
.angle-btn {
  display: none;
  opacity: 0.6;
  position: absolute;
  top: 50%;
  margin-top: -39px;
  width: 38px;
  height: 78px;
  z-index: 3;
  background-image: url(../img/suning/icons.png);
}
.angle-btn:hover {
  opacity: 1;
}
.prev-btn {
  background-position: 0 -51px;
  left: 50%;
  margin-left: -201px;
}
.next-btn {
  background-position: -43px -51px;
  right: 50%;
  margin-right: -203px;
}
.col1 {
  position: relative;
  float: left;
  width: 405px;
  height: 291px;
  border-bottom: 1px solid #f6f7f8;
  overflow: hidden;
  top: 292px;
}
.col1 li {
  position: relative;
  float: left;
  width: 405px;
  height: 145px;
  border-bottom: 1px solid #f6f7f8;
  overflow: hidden;
  background-color: #fff;
}
.col1 li a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.col1 li img {
  position: absolute;
  bottom: 0;
  right: 10px;
  width: 145px;
  height: 145px;
}
.col2 {
  width: 200px;
  height: 582px;
  position: relative;
  float: left;
  border-bottom: 1px solid #f6f7f8;
  overflow: hidden;
}
.col2 li {
  position: relative;
  float: left;
  width: 199px;
  height: 291px;
  border-bottom: 1px solid #f6f7f8;
  border-left: 1px solid #f6f7f8;
  overflow: hidden;
}
.col2 li a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.col2 li p.title {
  width: 108px;
}
.col2 li p.desc {
  width: 140px;
}
.col2 li img {
  position: absolute;
  bottom: 10px;
  left: 5px;
  width: 190px;
  height: 190px;
}
.floor1 .ad {
  background-color: #ffe2ec;
}
.floor1 .ad p {
  color: #f15453;
}
.floor1 .ad span {
  border-color: transparent transparent #f15453 #f15453;
}
#recommand_area {
  width: 990px;
  min-height: 897px;
  overflow: hidden;
  margin-top: 20px;
}
#recommand_area .title {
  width: 990px;
  height: 40px;
}
#recommand_area .title h3 {
  font: bold 20px/40px 'microsoft yahei';
}
#recommand_list {
  width: 1190px;
}
#recommand_list li {
  width: 197px;
  height: 281px;
  margin: 1px 0 0 1px;
  float: left;
  background-color: #fff;
}
#recommand_list li>a {
  width: 197px;
  height: 179px;
  position: relative;
}
#recommand_list li>a img {
  width: 160px;
  height: 160px;
  margin: 0 19px;
}
#recommand_list li>p {
  width: 160px;
  height: 36px;
  margin: 13px auto 0 auto;
  overflow: hidden;
  font-family: "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
}
#recommand_list li>p a {
  line-height: 18px;
}
#recommand_list li .price {
  float: left;
  margin: 13px 0 0 19px;
  font: 20px/26px "arial";
  color: #e12228;
}
#recommand_list li .cuxiao {
  float: right;
  width: 47px;
  height: 18px;
  margin: 18px 19px 0 0;
  line-height: 18px;
  text-align: center;
  background-color: #fa4b4b;
  border-radius: 2px;
  color: #fff;
  font-family: "Microsoft Yahei", tahoma, arial, "Hiragino Sans GB";
}
#recommand_list li #recommand_list li
