/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:606445bca0b7af47b3334c7c0f17541a:29b7af611f7a9b73e640314abcefbc09:8ef7a5523759848b8f2b1093d16b33ea$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(texture.png);}

.lang {width:671px; height:368px; background-position: -1px -1px}
.pangbai1a {width:830px; height:56px; background-position: -674px -1px}
.pangbai1b {width:830px; height:56px; background-position: -674px -59px}
.zhu1 {width:380px; height:265px; background-position: -674px -117px}
.zhu2 {width:197px; height:250px; background-position: -1056px -117px}
