/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:2fc6d268d00bc5b2d956948a942c4b25:7095a73404d00e2c8f8377ed71f66d00:8ef7a5523759848b8f2b1093d16b33ea$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(texture.png);}

.lang {width:242px; height:207px; background-position: -1px -741px}
.lang_hua {width:219px; height:73px; background-position: -245px -741px}
.pangbai1a {width:974px; height:51px; background-position: -1px -1px}
.pangbai1b {width:974px; height:51px; background-position: -1px -54px}
.pangbai2a {width:115px; height:25px; background-position: -353px -665px}
.pangbai2b {width:115px; height:25px; background-position: -353px -692px}
.shaokai {width:471px; height:556px; background-position: -1px -107px}
.yanconghou {width:398px; height:373px; background-position: -474px -630px}
.yancongqian {width:466px; height:521px; background-position: -474px -107px}
.zhu1 {width:350px; height:228px; background-position: -337px -1005px}
.zhu2 {width:175px; height:227px; background-position: -689px -1005px}
.zhu3 {width:166px; height:231px; background-position: -1px -1005px}
.zhu3_1 {width:166px; height:231px; background-position: -169px -1005px}
.zhu3_hua {width:350px; height:74px; background-position: -1px -665px}
