/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:e1240f1b570bfcabda89e47cbb5aaaab:d6d4aef78cbd56ebb116dfcb7fc9e481:6c9a44be93327700d3dbdee01a77fef7$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(other.png);}

.card1 {width:242px; height:298px; background-position: -1px -45px}
.card2 {width:241px; height:298px; background-position: -245px -45px}
.card3 {width:241px; height:298px; background-position: -1px -345px}
.card4 {width:242px; height:298px; background-position: -244px -345px}
.title {width:378px; height:42px; background-position: -1px -1px}
