/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:a895e2cc7b2fdd5c249762b7994fd1e9:ae8b0f1bc02b4a8f32201ed2c1d8d22a:8ef7a5523759848b8f2b1093d16b33ea$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(texture.png);}

.lang {width:535px; height:323px; background-position: -1px -103px}
.pangbai1a {width:965px; height:49px; background-position: -1px -1px}
.pangbai1b {width:965px; height:49px; background-position: -1px -52px}
.pangbai2a {width:194px; height:28px; background-position: -280px -428px}
.pangbai2b {width:194px; height:28px; background-position: -280px -458px}
.zhu1 {width:261px; height:201px; background-position: -538px -103px}
.zhu1_1 {width:261px; height:201px; background-position: -538px -306px}
.zhu1_hua {width:277px; height:74px; background-position: -1px -428px}
